/* large */
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body {

    .carousel li.four.columns {
      width: 228px !important;
    }

    nav #main-nav-bar, nav#top-nav-bar {
      li a {
        font-size: 14px;
        padding-right: 10px;
      }
    }

    #header nav.columns.five {
      width: 280px;
    }

    #home-slider {
      h1.product-title {
        font-size: 20px !important;
      }
      .product-info {
          width: 60% !important;
      }
      .product-price {
        font-size: 38px !important;
      }
      input[type="number"] {
        margin-right: 10px !important;
      }
      .product-description {
        font-size: 14px;
        line-height: 22px;
      }
      .product-image {
        margin-right: 20px;
      }
    }


    ul#products {
      .product-image {
        a {
          padding: 5px;
          min-width: 146px;
          min-height: 146px;

          img {
            max-width: 146px;
            max-height: 146px;
          }
        }
      }

      [data-hook="products_list_item"] {
        width: 170px;
      }
    }

    div[data-hook="cart_buttons"] {
      float: none !important;
      display: block !important;

      input[type="text"], button {
        padding: 7px 15px;
      }
    }

    span.or {
      padding: 0;
    }

    #billing, #shipping {
      input {
        width: 220px;

        &#order_use_billing {
          width: auto;
        }
      }

      select {
        width: 260px;
      }
    }

    footer#footer {
      width: 100%;
      &, a {
        font-size: 12px;
        line-height: 22px;
      }

      h5 {
        font-size: 15px;
      }

     .container {
        width: 740px;
      }
    }

    .container {
      padding: 0;
    }

    .container .four.columns {
      width: 165px;
    }

    .container .six.columns {
      width: auto;
      min-width: 270px;
    }

    .container .sixteen.columns {
      width: auto;
      min-width: 735px;
    }

    #google_ads {
      width: 735px;
      height: 120px;
    }

    .xadslot_1 {
      width: 735px;
      height: 120px;
    }

    .adsbygoogle-vertical {
      width: 120px;
      height: 735px;
    }

  }
}

/* mobile: medium and small */

/* #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  body {
    #header {
      margin-bottom: 10px;
    }

    #logo img {
      width: 100%;
    }

    #main-nav-bar, #sidebar nav#taxonomies {
      display: none
    }

    .open-menu {
      display: block;
    }

    #nav-bar {
      margin-bottom: 0;
    }

    #mobile-navigation:target {
      width: 80%;
    }

    #mobile-navigation:target:target + .page-wrapper {
      width: 20% !important;
    }

    nav#top-nav-bar {
      margin-top: 10px;
    }

    nav #main-nav-bar, nav#top-nav-bar {
      li {
        display: inline-block;

        a {
          font-size: 14px;
        }
      }
    }

    #update-cart #subtotal {
      width: 100%;
    }

    #order_coupon_code {
      width: 12em;
      padding-right: 10px;
      padding-left: 10px;
    }

    table#cart-detail {
      th, #line_items td {
        text-align: center;
      }
      #line_items td.cart-item-price, #line_items td.cart-item-total {
        text-align: right;
      }

      th, td, tbody tr td[data-hook="cart_item_price"], tbody#line_items tr td[data-hook="cart_item_total"] {
      }
      tbody tr td[data-hook="cart_item_price"], tbody#line_items tr td[data-hook="cart_item_total"] {
        font-weight: 600 !important;
      }
      input[type="number"] {
        width: 50px !important;
      }
      td.cart-item-description {
        display: none;
      }
    }

    #subheader .subheader-wrapper h1 {
      font-size: 28px;
    }

    #main-image {
      width: 250px;
      height: 270px;
      padding: 15px;

      img {
        @include border-radius(16px !important);
        padding: 10px 0 0 0;
      }
    }

    #product-properties tr td, #product-description, #taxon-crumbs {
      text-align: left;
    }

    #product-description {
      margin-top: 20px;
    }

    #cart-form {
      [data-hook="product_price"] {
        padding-bottom: 10px;
      }
      .add-to-cart input[type="number"] {
        width: 50px;
        padding: 6px;
      }
      .add-to-cart #add-to-cart-button {
        margin-left: 5px;
        padding: 5px 10px;
      }
      #product-price {
        margin-right: 0;
        padding: 0;

        .price {
          font-size: 20px !important;
          color: $c_green;
        }
      }
    }

    #subheader .subheader-wrapper h1[data-hook="checkout_title"] {
      margin-bottom: 25px;
    }

    ul#products li {
      width: unset;
      margin: unset;
      a.info {
        font-size: 12px;
        font-weight: 600;
      }
      .product-image {
        a {
          img {
          }
        }
      }

      [data-hook="products_list_item"] {
        margin: 0;
        margin-bottom: 30px;
      }
    }

    #welcome-message h1 {
      font-size: 16px;
    }

    #search-bar form {
      z-index: 1;
    }

    #subtotal {
      margin-bottom: 15px;
    }

    .icon-search-5 {
      z-index: 0 !important;
    }

    footer#footer {
      text-align: center;

      &, a {
        font-size: 14px;
        line-height: 22px;
      }

      h5 {
        font-size: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid lighten($c_blue, 10);
        line-height: 22px;
      }

      div.four.columns {
        margin-bottom: 30px;
      }
    }

    #page_content {
      text-align: left;
    }

    .progress-steps {
      margin-left: 0;

      li {
        &, &.current, &.current-first, &.current-last {
          margin-right: 0px;
          margin-bottom: 0;
          text-transform: none;
          font-weight: 600;
          font-size: 12px;
          width: auto !important;
          border-bottom: 1px solid lighten($c_green, 20);
        }

        span {
          padding: 0;
          padding-top: 10px;
        }

        &.current, &.current-first, &.current-last {
          @include box-shadow(none);
          border: none;
          border-bottom: 1px solid white;
        }
      }
    }

    #contact_us_contact_message {
      width: 260px;
    }

  }
}


/* medium */

/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {

    #search-bar form {
      right: 120px;
    }

    #logo img {
    }

    .progress-steps li {
      padding: 10px 5px !important;
    }

    #home-slider {
      h1.product-title {
        line-height: 1.1 !important;
        width: 100%;
        text-align: center;
      }
      .product-info {
        width: 100% !important;
      }
      input[type="number"] {
        display: none;
      }
      .product-description {
        line-height: 1.1;
      }
      .product-price {
        font-size: 28px !important;
        margin-right: 0 !important;
      }
      .product-image {
        margin: 0px 0px 10px 95px !important;
        a {
          margin: 0 auto;
          float: none;
        }
      }
      .product-order-form {
        margin-left: 95px;
      }
      button {
        font-size: 12px !important;
      }
    }


    .carousel li.four.columns {
      width: 200px !important;

      .product-image a, .product-image a img {
        width: 140px !important;
        height: 140px !important;
      }

      .product-image a img {
      }
    }

    #subheader .subheader-wrapper h1 {
    }

    #mobile-navigation:target {
      width: 50%;
    }
    #mobile-navigation:target:target + .page-wrapper {
      width: 50% !important;
    }


    ul#products {
      margin: 5px;
      .price {
        font-size: 24px;
      }
      a.info {
        font-size: 12px;
        font-weight: 600;
      }
      .product-image {
        a {
          padding: 5px;
          min-width: 110px;
          min-height: 110px;

          img {
            max-width: 110px;
            max-height: 110px;
          }
        }
      }

      [data-hook="products_list_item"] {
        width: 134px;
      }
    }



    #billing, #shipping {
      input {
        width: 360px;

        &#order_use_billing {
          width: auto;
        }
      }

      select {
        width: 400px;
      }
    }

    .container {
      padding: 0;
    }

    .container .sixteen.columns {
      min-width: 435px;
      margin-right: 5px;
      margin-left: 5px;
    }

    table#cart-detail {
    }

    #clear_cart_link, #update-cart .links {
      width: 100%;
      float: none;
      text-align: center;
      display: block;
      font-size: 12px;

      span.or {
        line-height: 24px;
      }

      a, button, input {
        font-size: 11px !important;
      }
    }


    footer#footer {
      &, a {
        font-size: 12px;
      }
      h5 {
        line-height: 52px;
        border: none;
        margin-bottom: 20px;
      }
      div.four.columns {
        text-align: center;
        width: 210px;
        margin-bottom: 0;
      }

    }

    #google_ads {
      width: 435px;
      height: 100px;
    }

    .xadslot_1 {
      width: 435px;
      height: 100px;
    }

    .adsbygoogle-vertical {
      width: 435px;
      height: 100px;
    }

    .dialog {
      min-width: 460px;
      max-width: 460px;
      margin-left: -230px;
    }

  }
}

/* small */
@media only screen and (max-width: 479px) {
  body {

    #home-slider {
      h1.product-title {
        width: 100%;
        text-align: center;
      }
      .product-info {
        width: 100% !important;
      }
      input[type="number"] {
        display: none;
      }
      .product-description {
        font-size: 12px;
        line-height: 14px;
      }
      .product-price {
        font-size: 28px !important;
        margin-right: 0 !important;
      }
      .product-image {
        margin: 0px 0px 10px 25px !important;
        a {
          margin: 0 auto;
          float: none;
        }
      }
      .product-order-form {
        margin-left: 25px;
      }
      button {
        font-size: 12px !important;
      }
    }

    span.or {
      display: block;
    }

    div[data-hook="cart_buttons"] {
      input[type="text"], button {
        margin: 5px;
      }
    }

    #empty-cart {
        margin-top: 20px !important;
    }

    #clear_cart_link, #update-cart .links {
      width: 100%;
      float: none;
      text-align: center;
      display: block;
      font-size: 12px;

      span.or {
        line-height: 24px;
      }

      a, button, input {
      }
    }

    .progress-steps li {
      padding: 0 2px !important;
    }

    .carousel li.four.columns {
      width: 285px !important;
      margin-left: 2px;
    }

    .carousel {
      [data-hook="featured_products_list_item"] {
      }
    }

    #subheader .subheader-wrapper h1[data-hook="checkout_title"] {
    }

    .container {
      padding: 0;
    }

    .container .sixteen.columns {
      width: auto;
      min-width: 287px;
    }

    #cart-form {
      [data-hook="product_price"] {
        margin: 5px;
      }
      .add-to-cart input[type="number"] {
      }
      .add-to-cart #add-to-cart-button {
        margin-left: 5px;
        padding: 5px 10px;
      }
      #product-price {
        margin-right: 0;
        padding: 0;

        .price {
        }
      }
    }

    .dialog {
      min-width: 302px;
      max-width: 302px;
      margin-left: -151px;
    }

    .dialog-image {
      position: relative;
      margin: 0;
    }
    .purchase-header {
      position: unset;
    }

    .dialog-continue {
      position: unset;
      margin-bottom: 15px;
    }

    #google_ads {
      width: 287px;
      height: 80px;
    }

    .xadslot_1 {
      width: 287px;
      height: 80px;
    }

    .adsbygoogle-vertical {
      width: 287px;
      height: 80px;
    }

  }
}
