[data-hook="product_price"] {
  margin-bottom: 24px;
  border-bottom: 2px solid lighten($c_blue, 30);

  #product-price {
    float: left;
    margin-right: 15px;
    line-height: 34px;
    padding-top: 2px;

    .price {
      font-size: 44px;
    }
  }

  .add-to-cart {
    float: right;
    margin-top: 0;

    #add-to-cart-button {
      margin-left: 30px;
    }
  }
}

#product-properties {
  border: none;

  tr {

    &.odd {
      background-color: lighten($c_blue, 35);
    }
    td {
      padding-left: 0;
      font-size: 14px;

      strong {
        text-transform: uppercase;
        color: $c_blue;

        &:after {
          content: ':';
        }
      }
    }
  }
}

#main-image {
  border: 2px solid lighten($c_green, 30) !important;
  overflow: hidden;
  padding-top: 6px;
  margin: 0 auto;

  &, img {
    @include border-radius(16px);
  }

  img {
    padding: 1px;
  }
}

#product-thumbnails {
  margin-right: -20px;

  li {
    border: none;
    margin-right: 12px;

    a {
      border: 1px solid lighten($body_text_color, 30);
      text-align: center;
      display: block;
      width: 60px;
      height: 60px;
      @include opacity(0.7);
      @include border-radius(0);
      margin: auto;

      &:hover {
        @include opacity(1);
        border-color: $c_green;
      }

      &, img {
        @include border-radius(0);
      }

      img {
        padding: 6px;
        margin: auto;
      }
    }

    &.selected a {
      @include opacity(1);
      border-color: $c_green;
    }
  }

}
