// Make color very close to white
@function very-light($color, $adjust: 3){  
  @if type-of($adjust) == 'number' and $adjust > 0 {
    @for $i from 0 through 100 {
      @if lighten($color, $i) == white and ($i - $adjust) > $adjust {
        @return lighten($color, $i - $adjust);
      }
    }
  }
  @else {
    @debug "Please correct $adjust value. It should be number and larger then 0. Currently it is '#{type-of($adjust)}' with value '#{$adjust}'"
  }
};

// Quick fix for dynamic variables missing in SASS
@function get-value($prop, $val, $search) {
  $n1: index($prop, $search);
  $n2: index($val, $search);

  @if($n1) {
    @return nth($val, $n1);
  } @else {
    @return nth($prop, $n2);
  }
};


// -------------------------------------------------------------
//   Variables used in all other files
//--------------------------------------------------------------

// Fonts
//--------------------------------------------------------------
$base-font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;

// Colors
//--------------------------------------------------------------

// Basic color palette for admin
$color-1:                        #FFFFFF !default;    // White
$color-2:                        #9FC820 !default;    // Green
$color-3:                        #5498DA !default;    // Light Blue
$color-4:                        #6788A2 !default;    // Dark Blue
$color-5:                        #C60F13 !default;    // Red
$color-6:                        #FF9300 !default;    // Yellow

// Body base colors
$color-body-bg:                  $color-1 !default;
$color-body-text:                $color-4 !default;
$color-headers:                  $color-4 !default;
$color-link:                     $color-3 !default;
$color-link-hover:               $color-2 !default;
$color-link-active:              $color-2 !default;
$color-link-focus:               $color-2 !default;
$color-link-visited:             $color-3 !default;
$color-border:                   very-light($color-3, 12) !default;

// Basic flash colors
$color-success:                  $color-2 !default;
$color-notice:                   $color-6 !default;
$color-error:                    $color-5 !default;

// Table colors
$color-tbl-odd:                  $color-1 !default;
$color-tbl-even:                 very-light($color-3, 4) !default;
$color-tbl-thead:                very-light($color-3, 4) !default;

// Button colors
$color-btn-bg:                   $color-3 !default;
$color-btn-text:                 $color-1 !default;
$color-btn-hover-bg:             $color-2 !default;
$color-btn-hover-text:           $color-1 !default;

// Select2 select field colors
$color-sel-bg:                   $color-3 !default;
$color-sel-text:                 $color-1 !default;
$color-sel-hover-bg:             $color-2 !default;
$color-sel-hover-text:           $color-1 !default;

// Sizes
//--------------------------------------------------------------

$border-radius:                  3px !default;

$font-weight-bold:               600 !default;
$font-weight-normal:             400 !default;



.select2-container {
  &:hover .select2-choice, &.select2-container-active .select2-choice {
    background-color: $color-sel-hover-bg !important;
    border-color: $color-sel-hover-bg !important;
  }
  .select2-choice {
    background-image: none !important;
    background-color: $color-sel-bg;
    border: none !important;
    box-shadow: none !important;
    @include border-radius($border-radius);
    color: $color-1 !important;
    font-size: 90%;
    height: 31px;
    line-height: inherit !important;
    padding: 5px 15px 7px;

    span {
      display: block;
      padding: 2px;
    }

    .select2-search-choice-close {
      //@extend .fa;
      //@extend .fa-times;
      margin-top: 2px;
      font-size: 100% !important;
      background-image: none !important;
    }
  }

  &.select2-container-active {
    .select2-choice {
      box-shadow: none !important;
    }

    &.select2-dropdown-open .select2-choice div b {
      @extend .fa-caret-up
    }
  }
}

.select2-drop {  
  box-shadow: none !important;
  z-index: 1000000;
  max-width: auto !important;
  border-top: 1px solid;
  border-color: $color-sel-hover-bg;

  &.select2-drop-above {
    border-color: $color-sel-hover-bg;
  }
}

.select2-search {
  @extend .fa; 
  @extend .fa-search;

  font-size: 100%;
  color: darken($color-border, 15);
  padding: 0 9px 0 0;

  &:before {
    @extend [class^="icon-"]:before !optional;

    position: absolute;
    top: 16px;
    left: 13px;
  }

  input {
    @extend input[type="text"];
    margin-top: 5px;
    margin-left: 4px;
    padding-left: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: $base-font-family;
    font-size: 90%;
    box-shadow: none;
    background-image: none;
  }
}

.select2-container .select2-choice .select2-arrow {
  background-image: none;
  background: transparent;
  border: 0;

  b {
    padding-top: 7px;
    display: block;
    width: 100%;
    height: 100%;
    background: none !important;
    font-family: FontAwesome;
    font-weight: 200 !important;

    &:before {
      content: "\f0d7";
    }
  }
}

.select2-results { 
  padding-left: 0 !important;

  li {
    font-size: 85% !important;


    &:nth-child(odd) {
      background: #efefef;
    }

    &.select2-highlighted {
      .select2-result-label {
        &, h6 {
          color: $color-1 !important;
        }
      }
    }

    .select2-result-label {
      color: $color-body-text;
      min-height: 22px;
      clear: both;
      overflow: auto;
    }

    &.select2-no-results, &.select2-searching {
      padding: 5px;
      background-color: transparent;
      color: $color-body-text;
      text-align: center;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }

  .select2-highlighted {
    background-color: $color-sel-bg !important;
  }
}

.select2-container-multi {
  &.select2-container-active, &.select2-dropdown-open {
    .select2-choices {
      border-color: $color-sel-hover-bg !important;
      box-shadow: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .select2-choices {
    @extend input[type="text"];
    padding: 6px 3px 3px 3px;
    box-shadow: none;
    background-image: none !important;

    .select2-search-choice {
      @include border-radius($border-radius);
      margin: 0 0 3px 3px;
      background-image: none;
      background-color: $color-sel-bg;
      border: none;
      box-shadow: none;
      color: $color-1 !important;
      font-size: 85%;

      &:hover {
        background-color: $color-sel-hover-bg;
      }

      .select2-search-choice-close {
        background-image: none !important;
        font-size: 85% !important;
        @extend .fa;
        @extend .fa-times;
        margin-left: 2px;
        color: $color-1;
        &:before {
          font-size: 11px;
        }
      }
    }
  }
}

label .select2-container {
  margin-top: -6px;
  .select2-choice {
    span {
      text-transform: none;
      font-weight: normal;
    }
  }
}

.fullwidth {
  display: block;
  width: 100%;
}

.select2-search {
    display: none;
}


html.firefox {
  // Fix select2 tag input size
  input.select2-input {
    padding: 0px 10px !important;
  }
  // Fix select2 tag input container padding
  .select2-container-multi .select2-choices {
    padding-bottom: 0 !important;
  }
  // Fix select2 search input left padding to not overlap search icon
  .select2-search input.select2-input {
    padding-bottom: 12px !important;
    padding-left: 25px !important;
  }
}

// IE general hacks
html.ie {
  // Fix select2 background gradient. (It uses filter gradients for IE)
  .select2-choice, .select2-choice div, 
  .select2-container-multi .select2-search-choice,
  .select2-container:hover .select2-choice,
  .select2-container.select2-container-active .select2-choice {
    filter: none;
  }
  .select2-search {
    &:before {
      z-index: 10000;
      content: '\f002' !important;
    }
    input {
      position: relative;
      z-index: 0;
    }
  }
}
