<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "spree/theme/logo-white.png", alt: "UC Store", id: "footer-logo" %>
      <br/>
      <br/>
    </div>

    <div class="four columns">
      <h5>Products & Services</h5>
      <ul>
        <li><a href="/t/tags/latest">New Products</a></li>
        <li><a href="/t/tags/featured">Top Sellers</a></li>
        <li><a href="/t/tags/slider">Specials</a></li>
        <li><a href="/products">All Products</a></li>
      </ul>
    </div>

    <div class="four columns">
      <h5>Orders</h5>
      <ul>
        <li><a href="/account">Your Account</a></li>
        <li><a href="/account">Track Your Package</a></li>
      </ul>
    </div>

    <div class="four columns">
      <h5>Store Info</h5>
      <ul>
        <li><a href="/faq">F.A.Q.</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/help">Help</a></li>
      </ul>
    </div>
    
  </div>
</footer>
