<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "spree/theme/logo-white.png", :alt => "UC Store", :id => "footer-logo" %>
      <br/>
      <br/>
    </div>

    <div class="four columns">
      <h5>Products & Services</h5>
      <ul>
        <li><a href="/products">New Products</a></li>
        <li><a href="/products">Top Sellers</a></li>
        <li><a href="/products">Specials</a></li>
        <li><a href="/products">Manufacturers</a></li>
        <li><a href="/products">Suppliers</a></li>
        <li><a href="/products">Service</a></li>
      </ul>
    </div>

    <div class="four columns">
      <h5>Orders</h5>
      <ul>
        <li><a href="/shipping">Track Your Package</a></li>
        <li><a href="/shipping">Packaging Feedback</a></li>
        <li><a href="/shipping">Shipping Rates & Policies</a></li>
        <li><a href="/returns">Returns & Replacements</a></li>
        <li><a href="/faq">F.A.Q.</a></li>
      </ul>
    </div>

    <div class="four columns">
      <h5>Store Info</h5>
      <ul>
        <li><a href="/account">Your Account</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/help">Help</a></li>
      </ul>
    </div>
    
  </div>
</footer>
