<% content_for :subheader do %>
  <%= render 'slider' %>
<% end %>

<div id="welcome-message">
  <div class="container">
    <h1>
      Welcome to the UC store!
      <br/>
      Browse all <a href="/products">products</a> or watch a <a href="/t/movies/uv">UV Movie</a> after transferring your selections to a UV account 
    </h1>
  </div>
</div>

<div class="container">
  <% if @featured_products %>
    <div id="featured-products" class="row">
      <h3>Featured Products</h3>
      <hr>
      <ul class="carousel">
        <% @featured_products.each do |product| %>
          <%= render partial: 'product', locals: { product: product } %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @latest_products %>
    <div id="latest-products" class="row">
      <h3>Latest Products</h3>
      <hr>
      <ul class="carousel">
        <% @latest_products.sort_by{ |product| product.created_at }.reverse.each do |product| %>
          <%= render partial: 'product', locals: { product: product } %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="google_ads">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Banner Ad -->
    <ins class="adsbygoogle" data-ad-client="ca-pub-9050834417500806" data-ad-slot="4887444979"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

</div>
